In [2]:
#pip install  scikit-learn // 사이킷런 설치
#pip install pydotplus
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier # 의사 결정 트리 알고리즘
from sklearn import tree
from IPython.display import Image
import pandas as pd
import numpy as np
import pydotplus 
import os

In [3]:
ten_data = pd.read_csv('상관계수높은 변수 추출(컬럼명 변경).csv', index_col = 0)
ten_data

      우식경험유치수  충전 유치수  우식경험유치면수  충전 유치면수  영구치우식유병자여부  우식 유치수  우식 유치면수  충치 유무
0           0       0         0        0           0       0        0      0
1           0       0         0        0           0       0        0      0
2           1       1         5        5           0       0        0      1
3           3       3         7        7           0       0        0      1
4           2       2        10       10           0       0        0      1
...       ...     ...       ...      ...         ...     ...      ...    ...
3107        0       0         0        0           0       0        0      0
3108        0       0         0        0           0       0        0      0
3109        0       0         0        0           0       0        0      0
3110        0       0         0        0           0       0        0      0
3111        0       0         0        0           0       0        0      0

[3112 rows x 8 columns]

In [4]:
result_data = pd.read_csv("충치 발생 확률.csv", index_col = 0)
result_data = result_data * 100
result_data

,현재까지 충치가 생겼던 유치수에 따른 충치발생 확률,치료 받았던 유치의 충치 수에 따른 충치발생 확률,현재까지 충치가 생겼던 유치 면수에 따른 충치발생 확률,치료 받았던 유치면수에 따른 충치발생 확률,현재 영구치의 충치 유무에 따른 충치발생 확률,충치가 생겼던 유치수에 따른 충치발생 확률,현재 충치가 있는 유치의 면수에 따른 충치발생 확률
0,16.195373,13.624679,12.660668,13.624679,55.141388,55.141388,55.141388
1,35.347044,38.239075,20.951157,23.264781,44.858612,36.246787,34.961440
2,29.113111,29.820051,17.930591,18.187661,0.000000,7.005141,7.519280
3,19.344473,18.316195,48.457584,44.922879,0.000000,1.606684,2.377892

In [5]:
# 우식 경험 유치수
# 빈 데이터 프레임 생성
ten_data_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['우식경험유치수'][i] == 0:
        percent = 16
        ten_data_2 = ten_data_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식경험유치수'][i] <= 3:
        percent = 35
        ten_data_2 = ten_data_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식경험유치수'][i] <= 6:
        percent = 29
        ten_data_2 = ten_data_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 19
        ten_data_2 = ten_data_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data_2.set_index('idx', inplace=True)
ten_data_2

     percent(%)
idx
0            16
1            16
2            35
3            35
4            35
...         ...
3107         16
3108         16
3109         16
3110         16
3111         16

[3112 rows x 1 columns]

In [6]:
ten_data_3 = pd.concat([ten_data,ten_data_2],axis=1)
ten_data_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,16
1,0,0,0,0,0,0,0,0,16
2,1,1,5,5,0,0,0,1,35
3,3,3,7,7,0,0,0,1,35
4,2,2,10,10,0,0,0,1,35
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,16
3108,0,0,0,0,0,0,0,0,16
3109,0,0,0,0,0,0,0,0,16
3110,0,0,0,0,0,0,0,0,16
3111,0,0,0,0,0,0,0,0,16

In [7]:
# 우식 경험 유치수 머신러닝

#속성과 클래스 분리
X = np.array(pd.DataFrame(ten_data_3, columns=['우식경험유치수']))
y = np.array(pd.DataFrame(ten_data_3, columns=['percent(%)']))
y = y.astype('int')
X_train, X_test, y_train, y_test = train_test_split(X,y)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X_train, y_train)
dt_prediction1 = dt_clf.predict(X_test)

dt_prediction1

# 예측 정확도
print(accuracy_score(y_test, dt_prediction1))

1.0

In [8]:
# 충전 유치수
# 빈 데이터 프레임 생성
ten_data1_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['충전 유치수'][i] == 0:
        percent = 14
        ten_data1_2 = ten_data1_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['충전 유치수'][i] <= 3:
        percent = 38
        ten_data1_2 = ten_data1_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['충전 유치수'][i] <= 6:
        percent = 30
        ten_data1_2 = ten_data1_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 18
        ten_data1_2 = ten_data1_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data1_2.set_index('idx', inplace=True)
ten_data1_2

     percent(%)
idx
0            14
1            14
2            38
3            38
4            38
...         ...
3107         14
3108         14
3109         14
3110         14
3111         14

[3112 rows x 1 columns]

In [9]:
ten_data1_3 = pd.concat([ten_data,ten_data1_2],axis=1)
ten_data1_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,14
1,0,0,0,0,0,0,0,0,14
2,1,1,5,5,0,0,0,1,38
3,3,3,7,7,0,0,0,1,38
4,2,2,10,10,0,0,0,1,38
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,14
3108,0,0,0,0,0,0,0,0,14
3109,0,0,0,0,0,0,0,0,14
3110,0,0,0,0,0,0,0,0,14
3111,0,0,0,0,0,0,0,0,14

In [10]:
# 충전 유치수 머신러닝

#속성과 클래스 분리
X1= np.array(pd.DataFrame(ten_data1_3, columns=['충전 유치수']))
y1 = np.array(pd.DataFrame(ten_data1_3, columns=['percent(%)']))
y1 = y1.astype('int')
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X1_train, y1_train)
dt_prediction2 = dt_clf.predict(X1_test)

dt_prediction2

# 예측 정확도
print(accuracy_score(y1_test, dt_prediction2))

1.0

In [11]:
# 우식경험유치면수
# 빈 데이터 프레임 생성
ten_data2_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['우식경험유치면수'][i] == 0:
        percent = 13
        ten_data2_2 = ten_data2_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식경험유치면수'][i] <= 4:
        percent = 21
        ten_data2_2 = ten_data2_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식경험유치면수'][i] <= 9:
        percent = 18
        ten_data2_2 = ten_data2_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 48
        ten_data2_2 = ten_data2_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data2_2.set_index('idx', inplace=True)
ten_data2_2

     percent(%)
idx
0            13
1            13
2            18
3            18
4            48
...         ...
3107         13
3108         13
3109         13
3110         13
3111         13

[3112 rows x 1 columns]

In [12]:
ten_data2_3 = pd.concat([ten_data,ten_data2_2],axis=1)
ten_data2_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,13
1,0,0,0,0,0,0,0,0,13
2,1,1,5,5,0,0,0,1,18
3,3,3,7,7,0,0,0,1,18
4,2,2,10,10,0,0,0,1,48
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,13
3108,0,0,0,0,0,0,0,0,13
3109,0,0,0,0,0,0,0,0,13
3110,0,0,0,0,0,0,0,0,13
3111,0,0,0,0,0,0,0,0,13

In [13]:
# 우식경험유치면수 머신러닝

#속성과 클래스 분리
X2 = np.array(pd.DataFrame(ten_data2_3, columns=['우식경험유치면수']))
y2 = np.array(pd.DataFrame(ten_data2_3, columns=['percent(%)']))
y2 = y2.astype('int')
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X2_train, y2_train)
dt_prediction3 = dt_clf.predict(X2_test)

dt_prediction3

# 예측 정확도
print(accuracy_score(y2_test, dt_prediction3))

1.0

In [14]:
# 충전 유치면수
# 빈 데이터 프레임 생성
ten_data3_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['충전 유치면수'][i] == 0:
        percent = 14
        ten_data3_2 = ten_data3_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['충전 유치면수'][i] <= 4:
        percent = 23
        ten_data3_2 = ten_data3_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['충전 유치면수'][i] <= 9:
        percent = 18
        ten_data3_2 = ten_data3_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 45
        ten_data3_2 = ten_data3_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data3_2.set_index('idx', inplace=True)
ten_data3_2

     percent(%)
idx
0            14
1            14
2            18
3            18
4            45
...         ...
3107         14
3108         14
3109         14
3110         14
3111         14

[3112 rows x 1 columns]

In [15]:
ten_data3_3 = pd.concat([ten_data,ten_data3_2],axis=1)
ten_data3_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,14
1,0,0,0,0,0,0,0,0,14
2,1,1,5,5,0,0,0,1,18
3,3,3,7,7,0,0,0,1,18
4,2,2,10,10,0,0,0,1,45
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,14
3108,0,0,0,0,0,0,0,0,14
3109,0,0,0,0,0,0,0,0,14
3110,0,0,0,0,0,0,0,0,14
3111,0,0,0,0,0,0,0,0,14

In [16]:
# 충전 유치면수 머신러닝

#속성과 클래스 분리
X3 = np.array(pd.DataFrame(ten_data3_3, columns=['충전 유치면수']))
y3 = np.array(pd.DataFrame(ten_data3_3, columns=['percent(%)']))
y3 = y3.astype('int')
X3_train, X3_test, y3_train, y3_test = train_test_split(X3,y3)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X3_train, y3_train)
dt_prediction4 = dt_clf.predict(X3_test)

dt_prediction4

# 예측 정확도
print(accuracy_score(y3_test, dt_prediction4))

1.0

In [17]:
# 영구치우식유병자여부
# 빈 데이터 프레임 생성
ten_data4_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['영구치우식유병자여부'][i] == 0:
        percent = 55
        ten_data4_2 = ten_data4_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 45
        ten_data4_2 = ten_data4_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data4_2.set_index('idx', inplace=True)
ten_data4_2

     percent(%)
idx
0            55
1            55
2            55
3            55
4            55
...         ...
3107         55
3108         55
3109         55
3110         55
3111         55

[3112 rows x 1 columns]

In [18]:
ten_data4_3 = pd.concat([ten_data,ten_data4_2],axis=1)
ten_data4_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,55
1,0,0,0,0,0,0,0,0,55
2,1,1,5,5,0,0,0,1,55
3,3,3,7,7,0,0,0,1,55
4,2,2,10,10,0,0,0,1,55
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,55
3108,0,0,0,0,0,0,0,0,55
3109,0,0,0,0,0,0,0,0,55
3110,0,0,0,0,0,0,0,0,55
3111,0,0,0,0,0,0,0,0,55

In [19]:
# 영구치우식유병자여부 머신러닝

#속성과 클래스 분리
X4 = np.array(pd.DataFrame(ten_data4_3, columns=['영구치우식유병자여부']))
y4 = np.array(pd.DataFrame(ten_data4_3, columns=['percent(%)']))
y4 = y4.astype('int')
X4_train, X4_test, y4_train, y4_test = train_test_split(X4,y4)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X4_train, y4_train)
dt_prediction5 = dt_clf.predict(X4_test)

dt_prediction5

# 예측 정확도
print(accuracy_score(y4_test, dt_prediction5))

1.0

In [20]:
# 우식 유치수
# 빈 데이터 프레임 생성
ten_data5_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['우식 유치수'][i] == 0:
        percent = 55
        ten_data5_2 = ten_data5_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식 유치수'][i] <= 3:
        percent = 36
        ten_data5_2 = ten_data5_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식 유치수'][i] <= 6:
        percent = 7
        ten_data5_2 = ten_data5_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 2
        ten_data5_2 = ten_data5_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data5_2.set_index('idx', inplace=True)
ten_data5_2

     percent(%)
idx
0            55
1            55
2            55
3            55
4            55
...         ...
3107         55
3108         55
3109         55
3110         55
3111         55

[3112 rows x 1 columns]

In [21]:
ten_data5_3 = pd.concat([ten_data,ten_data5_2],axis=1)
ten_data5_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,55
1,0,0,0,0,0,0,0,0,55
2,1,1,5,5,0,0,0,1,55
3,3,3,7,7,0,0,0,1,55
4,2,2,10,10,0,0,0,1,55
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,55
3108,0,0,0,0,0,0,0,0,55
3109,0,0,0,0,0,0,0,0,55
3110,0,0,0,0,0,0,0,0,55
3111,0,0,0,0,0,0,0,0,55

In [22]:
# 우식 유치수 머신러닝

#속성과 클래스 분리
X5 = np.array(pd.DataFrame(ten_data5_3, columns=['우식 유치수']))
y5 = np.array(pd.DataFrame(ten_data5_3, columns=['percent(%)']))
y5 = y5.astype('int')
X5_train, X5_test, y5_train, y5_test = train_test_split(X5,y5)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X5_train, y5_train)
dt_prediction6 = dt_clf.predict(X5_test)

dt_prediction6

# 예측 정확도
print(accuracy_score(y5_test, dt_prediction6))

1.0

In [23]:
# 우식 유치수
# 빈 데이터 프레임 생성
ten_data6_2= pd.DataFrame(columns = ['idx','percent(%)'])
i = 0
for idx in range(3112):
    if ten_data['우식 유치면수'][i] == 0:
        percent = 55
        ten_data6_2 = ten_data6_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식 유치면수'][i] <= 4:
        percent = 35
        ten_data6_2 = ten_data6_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    elif ten_data['우식 유치면수'][i] <= 9:
        percent = 8
        ten_data6_2 = ten_data6_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    else :
        percent = 2
        ten_data6_2 = ten_data6_2.append(pd.DataFrame([[idx, percent]], columns=['idx','percent(%)']), ignore_index=True)
    i = i + 1
ten_data6_2.set_index('idx', inplace=True)
ten_data6_2

     percent(%)
idx
0            55
1            55
2            55
3            55
4            55
...         ...
3107         55
3108         55
3109         55
3110         55
3111         55

[3112 rows x 1 columns]

In [24]:
ten_data6_3 = pd.concat([ten_data,ten_data6_2],axis=1)
ten_data6_3

,우식경험유치수,충전 유치수,우식경험유치면수,충전 유치면수,영구치우식유병자여부,우식 유치수,우식 유치면수,충치 유무,percent(%)
0,0,0,0,0,0,0,0,0,55
1,0,0,0,0,0,0,0,0,55
2,1,1,5,5,0,0,0,1,55
3,3,3,7,7,0,0,0,1,55
4,2,2,10,10,0,0,0,1,55
...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,0,0,55
3108,0,0,0,0,0,0,0,0,55
3109,0,0,0,0,0,0,0,0,55
3110,0,0,0,0,0,0,0,0,55
3111,0,0,0,0,0,0,0,0,55

In [25]:
# 우식 유치수 머신러닝

#속성과 클래스 분리
X6 = np.array(pd.DataFrame(ten_data6_3, columns=['우식 유치수']))
y6 = np.array(pd.DataFrame(ten_data6_3, columns=['percent(%)']))
y6 = y6.astype('int')
X6_train, X6_test, y6_train, y6_test = train_test_split(X6,y6)


dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X6_train, y6_train)
dt_prediction7 = dt_clf.predict(X6_test)

dt_prediction7

# 예측 정확도
print(accuracy_score(y6_test, dt_prediction7))

0.980719794344473

In [26]:
# 1번 설문 응답
dt_prediction1

# 2번 설문 응답
dt_prediction2

# 3번 설문 응답
dt_prediction3

# 4번 설문 응답
dt_prediction4

# 5번 설문 응답
dt_prediction5

# 6번 설문 응답
dt_prediction6

# 7번 설문 응답
dt_prediction7

array([35, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 55, 55,  8, 35, 55, 55, 55, 35, 35, 55, 55, 55, 55, 55,
       55, 35, 55, 35, 55, 35, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55, 35,
        8, 35, 55, 55, 55, 55, 55, 35, 35, 55, 55, 55, 55, 35, 55, 55, 35,
       55, 55,  8, 55, 35, 55, 35, 55, 55, 35, 55, 55, 55, 55, 55, 55, 55,
       55, 35, 55, 55, 35, 55, 55, 55, 55, 55,  8, 55, 55, 55, 55, 55, 35,
       55, 55, 55, 55, 35, 55, 35, 55, 55,  8, 35, 55, 55, 55, 35, 55, 55,
       55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 35, 55, 55, 55, 35, 55,
       55, 55, 55, 55, 55, 55, 55, 55, 35, 55,  8, 55, 55, 35, 55, 55, 55,
       35, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 35, 55, 55, 55,
       35, 35, 35, 55, 55, 55, 55, 55, 55, 55,  8, 55, 35, 55, 55, 55, 55,
       55, 55, 55, 55,  2, 55, 35, 55, 55, 55, 35, 55,  8, 55, 55, 55, 55,
       55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 35, 55, 55,  8, 55, 55,
       55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 35, 55, 55, 35, 35, 55, 55, 55, 55, 35, 55, 55, 55, 55,
       55, 55, 55, 55, 55, 55, 35, 55, 55, 35, 55, 55,  8, 55, 55, 55, 55,
       55, 55, 55, 55, 55, 55,  8, 55, 55, 55,  2, 55, 55, 55, 55, 35, 35,
       55, 55, 55, 35, 55, 55, 55, 35, 55, 35, 55, 55,  8, 55, 55, 55, 35,
       55, 55, 55, 55, 55, 55, 55, 35, 55, 35, 55, 55, 55, 35, 35, 35, 55,
       55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 35, 55,  8, 55, 55, 55,
       55, 35, 55, 55, 55, 55,  8, 55, 55, 55, 35, 55, 55, 55, 55, 55, 35,
       35, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 35, 55, 55, 55, 35,
       55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 55,  8, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55,
       55, 35, 55, 55, 55, 55,  8, 55,  8, 55, 55, 55, 55, 55, 55, 55, 35,
       55, 55,  8, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55, 55, 55,  8,
       55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55,
       35, 55, 55,  2, 55, 55, 55, 55, 55, 55,  8, 55, 55, 55, 35, 55, 55,
       55, 35, 35, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55,
       55, 35, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 35, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 35,
       35, 55, 35, 55, 55, 55, 55, 55, 35, 55, 35, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 55, 55, 35, 55, 55, 35, 55, 55, 55, 55, 55, 35, 55, 55,
       55, 35, 55, 35, 55, 55,  8, 55, 55, 55, 55, 55,  8, 35, 35, 55, 55,
       55, 55, 55, 55,  8, 55, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55,
       55, 35, 55, 55,  8, 55, 55, 35, 55, 55, 55, 55, 55, 55, 35, 55, 55,
       55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 35,  8, 35, 55, 35,
       55, 55,  8, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 35, 55, 55,
       55, 55, 35, 55,  8, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 55, 55,
       55, 55, 55, 55, 55, 55, 55,  8, 55, 55, 55, 55, 35, 55, 55, 35, 35,
        8, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 35, 55, 55, 55,
       55, 55, 55, 55, 55, 35, 35, 55, 55, 55, 35, 55, 55,  8, 55, 55, 55,
       55, 55, 55, 55, 55, 55, 35, 55, 55, 55, 55, 35, 35, 55, 55, 55, 55,
       35, 55, 35, 55, 55, 35,  8, 55, 55, 35, 55, 35, 55, 55, 55, 55, 35,
       55, 55, 35, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55,
        2, 55, 35, 55, 55, 55, 35, 55, 35, 35, 55, 35, 55])